@charset "utf-8";
/* CSS Document */


h1 {
	font-family: "Delicious";
}

.navbar {
	border: 0;
	margin-bottom: 0px;
	font-family: 'Work Sans', sans-serif;
}

.navbar-header {
	width: 100%;
}

.jumbotron {
	padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    height: 500px;
    background-image: url("Images/adventure.png"); 
	background-position: center;
	background-size: cover;
}

.small {
	width: 40%;
}

.medium {
	width: 60%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.panel {
	margin-top: 20px;
}